{
	"center": {
		"lat": <%= @center["lat"] %>,
		"lng": <%= @center["lng"] %>
		},
	"markers": 
		[
		<% @doctors.each_with_index do |doctor, i| %>
			{ 
				"infowindow":"<div class=\"info-window doctor-profile\"><%= j image_tag asset_path(doctor.photo_url), :class => "map-portrait" %><strong><%= doctor.name %></strong><br /><span><%= doctor.title %></span><br /><strong>Free Times:</strong><ul><% doctor.schedule.free_blocks.order(:day_number).each do |free_block| %><li><%= free_block.day_name %>s, <%= free_block.start_time %> to <%= free_block.end_time %></li><% end %></ul><br /><a href=\"/profile/<%= doctor.id %>\" target=\"_blank\">View Profile</a></div>",
				"lat": <%= doctor.latitude %>,
				"lng": <%= doctor.longitude %>
			}<% if i != @doctors.length - 1 %>,<%end%>
		<% end %>
		]
}