<div class="container">

  <h2>Edit Your Profile</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %></div>

    <div><%= f.label :name %><br />
    <%= f.text_field :name %></div>

    <div><%= f.label :address %><br />
    <%= f.text_field :address %></div>

    <div><%= f.label :title %><br />
    <%= f.text_field :title %></div>

    <div><%= f.label :degree %><br />
    <%= f.text_field :degree %></div>

    <h3>Your Specialties:</h3>
    
    <fieldset>
      <div style="display:none"><input type="checkbox" name="user[specialty_names][]" value="" checked="checked" /></div>
      <% Specialty.order(:name).each do |specialty| %>
        <label> <%= specialty.name %> 
        
            <input type="checkbox" name="user[specialty_names][]"  value="<%= specialty.name %>" <% if @user.specialties.include?(specialty) %>checked="checked"<%end%> id ="specialty_#{specialty.id}" />
 
        </label><br />
      <% end %>
    </fieldset>

    <div>
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div><%= f.submit "Update" %></div>


    <h3>Change your password:</h3>
    <fieldset>  
    <div><%= f.label :password, 'New Password' %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %></div>

    <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
    </fieldset>
  <% end %>

  <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
</div>