<div class="profile">
	<div class="container profile-card">
		<%= image_tag 'profile.jpg', :class => 'profile-image' %>
		<div class="title-card">
			<h1 class="name"><%= @doctor.name %></h1> <small><%= @doctor.degree %></small><br />
			<span class="subhed title"><%= @doctor.title %></span>
		
		<p class="address">
			<%= @doctor.address.split(', ').join(',<br />').html_safe %>
		</p>

		</div>
	</div>


	<div class="container map-card">
		<div id="map" data-lat="<%= @doctor.latitude %>" data-long="<%= @doctor.longitude %>">
		</div>
	</div>
</div>
<%= javascript_include_tag "profile" %>