<div class="profile">
	<div class="container profile-card">
		<div class="photo-container-200"><%= image_tag asset_path(@doctor.photo_url), :class => 'profile-image' %></div>
		<div class="title-card">
			<h1 class="name"><%= @doctor.name %></h1> <small><%= @doctor.degree %></small><br />
			<span class="subhed title"><%= @doctor.title %></span>
			<h4 class="profile-section-title">Phone:</h4>
			<span><%= @doctor.phone.phony_formatted(:spaces => "-") %></span>
			
			<h4 class="profile-section-title">Address:</h4>

			<p class="address">
				<%= @doctor.address.split(', ').join(',<br />').html_safe %>
			</p>

			<h4 class="profile-section-title">Specializes In:</h4>

			<ul class="specialties">
			<% @doctor.specialties.each do |spec| %>
			<li><%= spec.name %></li>
				<% end %>
			</ul>

		</div>
	</div>


	<div class="container map-card">
		<div id="map" data-lat="<%= @doctor.latitude %>" data-long="<%= @doctor.longitude %>">
		</div>
	</div>
</div>
<%= javascript_include_tag "profile" %>